.controller.edit {
  background: url(https://cdn.discordapp.com/attachments/1019269929557569668/1203503681702592522/jfkdlasjfkldsajlfkdjskla.png);
  -webkit-mask-image: url(https://gamepadviewer.com/xbox-assets/base-white.svg);
  background-position: 50%;
}
