.controller.edit {
  background: url(https://cdn.discordapp.com/attachments/1154186623987240992/1203474510435717151/pnsailsi0jja1.png);
  mask: url(https://gamepadviewer.com/xbox-assets/base-white.svg);
  background-position: 50%;
}
